<!DOCTYPE html>
<html ng-app="Accueil">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="Accueil.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="./accueilAngular.js"></script>

        <script>var whTooltips = {colorLinks: true, iconizeLinks: true, renamelinks: false, iconSize: 'large'};</script>
        <script src="https://wow.zamimg.com/widgets/power.js"></script>

		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
        <title>Accueil</title>
    </head>

    <body ng-controller="globalController" ng-style="background">


        <div id="Accueil-page" ng-show="accueil">
            <div id="myInputs">
                <input ng-model = "pseudo">
                    <div id="buttons">
                        <button id="buttonHorde" ng-click="get('Horde')"></button>
                        <button id="buttonAlliance" ng-click="get('Alliance')"></button>
                    </div>
            </div>
        </div>

        <div id="Armory-page" ng-show="armory">
            <header>
                <img id="logo" ng-src="images/logo{{faction}}.png" alt="logo de l'Alliance"/>
                <div id="characterPseudo">
                    <span id="characterName" ng-bind="pseudo"></span>
                    <span id="characterSurname">Surname</span>
                </div>
                <img id="separation" src="images/separation.png" alt="separation"/>
                <div id="characterInfo">
                    <div id="characterInfo_top">
                        <img id="swords" src="images/swords.png" alt="swords"/>
                        <span>Achievements</span>
                        <img id="sheald" src="images/sheald.png" alt="sheald"/>
                        <span>Niveau d'objet</span>
                    </div>
                    <div id="characterInfo_bot">
                        <span>Level</span>
                        <img id="elf" src="images/elf.png" alt="elf"/>
                        <span>Race</span>
                    </div>
                </div>
                <img src="images/backArrow.png" id="backArrow" alt="bouton de retour" ng-click="back()"/>
           </header>

           <article ng-controller="itemController">
                <div id="dispositionH">
                    <div id="itemG">
                        <a id="itemG1" ng-href="https://fr.wowhead.com/item=2575" class="item"></a>
                        <a id="itemG2" ng-href="{{itemId[1]}}" class="item"></a>
                        <a id="itemG3" ng-href="{{itemId[2]}}" class="item"></a>
                        <a id="itemG4" ng-href="{{itemId[3]}}" class="item"></a>
                        <a id="itemG5" ng-href="{{itemId[4]}}" class="item"></a>
                        <a id="itemG6" ng-href="{{itemId[5]}}" class="item"><img src="images/carre.png" alt="image de carre"></a>
                        <a id="itemG7" ng-href="{{itemId[6]}}" class="item"></a>
                        <a id="itemG8" ng-href="{{itemId[7]}}" class="item"></a>
                    </div>
                    
                     <img id="perso" src="images/silhouette.png" alt="silhouette"/>
                    
                    <div id="itemD">
                        <a id="itemD1" ng-href="{{itemId[8]}}" class="item"></a>
                        <a id="itemD2" ng-href="{{itemId[9]}}" class="item"></a>
                        <a id="itemD3" ng-href="{{itemId[10]}}" class="item"></a>
                        <a id="itemD4" ng-href="{{itemId[11]}}" class="item"></a>
                        <a id="itemD5" ng-href="{{itemId[12]}}" class="item"></a>
                        <a id="itemD6" ng-href="{{itemId[13]}}" class="item"></a>
                        <a id="itemD7" ng-href="{{itemId[14]}}" class="item"></a>
                        <a id="itemD8" ng-href="{{itemId[15]}}" class="item"></a>
                    </div>
                </div>
                 <div id="itemB">
                    <a id="itemB1" ng-href="{{itemId[16]}}" class="item"></a>
                    <a id="itemB2" ng-href="{{itemId[17]}}" class="item"></a>
                    <a id="itemB3" ng-href="{{itemId[18]}}" class="item" ng-if="itemId[18]!=-1"></a>

                </div>

                <div id="info" ng-show="inside">
                    <span>réponse de la requête get: {{answer}}</span>
                </div>
            </article>
        </div>


    </body>


    
</html>

    